.u-section-1 {
    background-image: url("images/IntroProducts.png");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }
  
  .u-section-1 .u-image-1 {
    width: 538px;
    height: 363px;
    margin: 153px 32px 0 auto;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin: -313px 350px 0 343px;
  }
  
  .u-section-1 .u-line-1 {
    width: 25px;
    height: 3px;
    transform-origin: left center 0px;
    margin: -86px auto 0 142px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin: -12px 844px 60px 175px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 491px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 399px;
      margin-left: 243px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 744px;
      margin-left: 75px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 376px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 289px;
      margin-left: 133px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 599px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 282px;
    }
  
    .u-section-1 .u-image-1 {
      margin-right: 2px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 199px;
      margin-left: 43px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 419px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 44px;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 229px;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
      margin-top: -179px;
      margin-right: 42px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 219px;
    }
  }.u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 715px;
  }
  
  .u-section-2 .u-slider-1 {
    width: 1090px;
    min-height: 633px;
    margin: 51px auto 31px;
  }
  
  .u-section-2 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 17px 30px 46px;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin: 79px 638px 0 122px;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin: 42px 606px 0 122px;
  }
  
  .u-section-2 .u-image-1 {
    height: 355px;
    width: 279px;
    margin: -160px 55px 0 auto;
  }
  
  .u-section-2 .u-text-3 {
    margin: -170px 526px 0 124px;
  }
  
  .u-section-2 .u-line-1 {
    width: 52px;
    height: 3px;
    transform-origin: right center 0px;
    margin: -168px auto 0 55px;
  }
  
  .u-section-2 .u-text-4 {
    margin: 229px 870px 0 124px;
  }
  
  .u-section-2 .u-carousel-item-2 {
    background-image: none;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
    margin: 98px 648px 0 172px;
  }
  
  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin: 51px 612px 0 172px;
  }
  
  .u-section-2 .u-image-2 {
    height: 355px;
    width: 279px;
    margin: -167px 49px 0 auto;
  }
  
  .u-section-2 .u-line-2 {
    width: 52px;
    height: 3px;
    transform-origin: right center 0px;
    margin: -205px auto 0 95px;
  }
  
  .u-section-2 .u-text-7 {
    margin: 46px 488px 0 172px;
  }
  
  .u-section-2 .u-text-8 {
    margin: 87px 892px 0 162px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 0 0 30px;
  }
  
  .u-section-2 .u-text-9 {
    font-size: 2.25rem;
    margin: 81px 686px 0 145px;
  }
  
  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    margin: 60px 627px 0 145px;
  }
  
  .u-section-2 .u-image-3 {
    height: 355px;
    width: 279px;
    margin: -148px 40px 0 auto;
  }
  
  .u-section-2 .u-line-3 {
    width: 52px;
    height: 3px;
    transform-origin: right center 0px;
    margin: -225px auto 0 81px;
  }
  
  .u-section-2 .u-text-11 {
    margin: 40px 538px 0 145px;
  }
  
  .u-section-2 .u-text-12 {
    margin: 94px 892px 0 151px;
  }
  
  .u-section-2 .u-carousel-control-1 {
    width: 37px;
    height: 37px;
    left: 222px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 117px;
  }
  
  .u-section-2 .u-carousel-control-2 {
    width: 37px;
    height: 37px;
    left: 279px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 117px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-slider-1 {
      width: 940px;
      height: auto;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 538px;
      margin-left: 22px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 506px;
      margin-left: 22px;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 426px;
      margin-left: 24px;
    }
  
    .u-section-2 .u-line-1 {
      transform-origin: left center 0px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 770px;
      margin-left: 24px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 473px;
      margin-left: 4px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 441px;
      margin-left: 4px;
    }
  
    .u-section-2 .u-line-2 {
      margin-top: -143px;
      margin-left: 8px;
    }
  
    .u-section-2 .u-text-7 {
      margin-top: 451px;
      margin-right: 363px;
      margin-left: 4px;
    }
  
    .u-section-2 .u-text-8 {
      margin-top: -215px;
      margin-right: 792px;
      margin-left: 62px;
    }
  
    .u-section-2 .u-text-9 {
      margin-right: 586px;
      margin-left: 45px;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 527px;
      margin-left: 45px;
    }
  
    .u-section-2 .u-text-11 {
      margin-right: 438px;
      margin-left: 45px;
    }
  
    .u-section-2 .u-text-12 {
      margin-right: 792px;
      margin-left: 51px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-slider-1 {
      width: 720px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 356px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 324px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 246px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 590px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 400px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 365px;
      margin-left: 0;
    }
  
    .u-section-2 .u-line-2 {
      margin-left: 95px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 177px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 634px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-9 {
      margin-right: 411px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 352px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-11 {
      margin-right: 263px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-12 {
      margin-right: 623px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-slider-1 {
      width: 540px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-right: 10px;
      padding-left: 10px;
    }
  
    .u-section-2 .u-text-1 {
      margin-right: 203px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 171px;
    }
  
    .u-section-2 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 93px;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 437px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 220px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 185px;
    }
  
    .u-section-2 .u-image-2 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: 60px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 454px;
    }
  
    .u-section-2 .u-text-9 {
      margin-right: 231px;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 172px;
    }
  
    .u-section-2 .u-image-3 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-text-11 {
      margin-top: 152px;
      margin-right: 83px;
    }
  
    .u-section-2 .u-text-12 {
      margin-top: 101px;
      margin-right: 443px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-slider-1 {
      width: 340px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
      margin-right: 3px;
    }
  
    .u-section-2 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-4 {
      margin-right: 237px;
    }
  
    .u-section-2 .u-text-5 {
      font-size: 1.5rem;
      margin-right: 20px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 0;
    }
  
    .u-section-2 .u-line-2 {
      margin-top: -93px;
    }
  
    .u-section-2 .u-text-7 {
      margin-top: 401px;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 254px;
    }
  
    .u-section-2 .u-text-9 {
      font-size: 1.5rem;
      margin-right: 31px;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 0;
    }
  
    .u-section-2 .u-line-3 {
      margin-top: -68px;
    }
  
    .u-section-2 .u-text-11 {
      margin-top: 393px;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-12 {
      margin-top: -190px;
      margin-right: 243px;
    }
  }.u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin: 107px 250px 0 626px;
  }
  
  .u-section-3 .u-image-1 {
    width: 484px;
    height: 382px;
    margin: -43px auto 0 52px;
  }
  
  .u-section-3 .u-text-2 {
    margin: -287px 75px 0 626px;
  }
  
  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin: 41px 293px 0 710px;
  }
  
  .u-section-3 .u-line-1 {
    width: 52px;
    height: 3px;
    transform-origin: right center 0px;
    margin: -17px auto 0 632px;
  }
  
  .u-section-3 .u-image-2 {
    width: 137px;
    height: 124px;
    margin: 66px 227px 0 auto;
  }
  
  .u-section-3 .u-image-3 {
    width: 124px;
    height: 124px;
    margin: -124px auto 0 626px;
  }
  
  .u-section-3 .u-image-4 {
    width: 119px;
    height: 124px;
    margin: -124px 75px 60px auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-text-1 {
      margin-right: 177px;
      margin-left: 526px;
    }
  
    .u-section-3 .u-text-2 {
      margin-right: 0;
      margin-left: 501px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 193px;
      margin-left: 610px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-text-1 {
      margin-right: 67px;
      margin-left: 416px;
    }
  
    .u-section-3 .u-text-2 {
      margin-left: 281px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 83px;
      margin-left: 500px;
    }
  
    .u-section-3 .u-image-3 {
      margin-left: 596px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-text-1 {
      margin-right: 0;
      margin-left: 303px;
    }
  
    .u-section-3 .u-text-2 {
      margin-left: 101px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 0;
      margin-left: 403px;
    }
  
    .u-section-3 .u-line-1 {
      margin-left: 488px;
    }
  
    .u-section-3 .u-image-3 {
      margin-left: 416px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
      margin-left: 103px;
    }
  
    .u-section-3 .u-image-1 {
      width: 340px;
      height: 268px;
      margin-left: 0;
    }
  
    .u-section-3 .u-text-2 {
      margin-top: -173px;
      margin-left: 0;
    }
  
    .u-section-3 .u-text-3 {
      margin-left: 203px;
    }
  
    .u-section-3 .u-line-1 {
      margin-left: 288px;
    }
  
    .u-section-3 .u-image-2 {
      margin-right: 203px;
    }
  
    .u-section-3 .u-image-3 {
      margin-left: 216px;
    }
  }.u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }
  
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin: 60px 907px 0 86px;
  }
  
  .u-section-4 .u-group-1 {
    width: 232px;
    min-height: 314px;
    margin: 32px auto 0 298px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 21px 21px 30px 12px;
  }
  
  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    margin: 0 49px 0 58px;
  }
  
  .u-section-4 .u-text-3 {
    font-weight: 400;
    margin: 91px 29px 0 38px;
  }
  
  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    margin: 33px 18px 0 27px;
  }
  
  .u-section-4 .u-group-2 {
    width: 232px;
    min-height: 306px;
    margin: -310px 338px 0 auto;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 21px 0 30px 30px;
  }
  
  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
    margin: 0 70px 0 40px;
  }
  
  .u-section-4 .u-text-6 {
    font-weight: 400;
    font-size: 1rem;
    margin: 50px 55px 0 25px;
  }
  
  .u-section-4 .u-line-1 {
    width: 100px;
    height: 3px;
    transform-origin: left center 0px;
    margin: -10px auto 0 33px;
  }
  
  .u-section-4 .u-text-7 {
    font-weight: 400;
    margin: 25px 41px 0 11px;
  }
  
  .u-section-4 .u-text-8 {
    font-size: 0.75rem;
    margin: 33px 48px 0 0;
  }
  
  .u-section-4 .u-group-3 {
    width: 141px;
    min-height: 24px;
    margin: -314px 387px 0 auto;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding-right: 22px;
    padding-left: 30px;
  }
  
  .u-section-4 .u-text-9 {
    font-size: 0.75rem;
    background-image: none;
    width: 56px;
    margin: 5px auto 0;
  }
  
  .u-section-4 .u-btn-1 {
    border-style: none;
    font-size: 0.875rem;
    margin: 372px auto 60px;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-text-1 {
      margin-right: 793px;
      margin-left: 0;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-text-1 {
      margin-right: 573px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-text-1 {
      margin-right: 393px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-group-2 {
      margin-right: 308px;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-text-1 {
      font-size: 1.5rem;
      margin-right: 193px;
    }
  
    .u-section-4 .u-group-1 {
      margin-left: 108px;
    }
  
    .u-section-4 .u-group-2 {
      margin-right: 108px;
    }
  
    .u-section-4 .u-group-3 {
      margin-right: 199px;
    }
  }.u-section-5 .u-sheet-1 {
    min-height: 368px;
  }
  
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 503px;
    margin: 40px auto 0;
  }
  
  .u-section-5 .u-text-2 {
    font-weight: 400;
    width: 591px;
    margin: 55px auto 0;
  }
  
  .u-section-5 .u-form-1 {
    height: 76px;
    width: 570px;
    margin: 28px auto 55px;
  }
  
  .u-section-5 .u-btn-1 {
    border-style: none;
    padding: 0;
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-text-2 {
      width: 540px;
    }
  
    .u-section-5 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-text-1 {
      width: 340px;
    }
  
    .u-section-5 .u-text-2 {
      width: 340px;
    }
  
    .u-section-5 .u-form-1 {
      width: 340px;
    }
  }