.u-section-1-1 {
  background-image: url("images/image271.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1-1 .u-line-1 {
  width: 25px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -6px auto 0 93px;
}

.u-section-1-1 .u-text-1 {
  font-size: 0.875rem;
  margin: 224px 944px 0 103px;
}

.u-section-1-1 .u-text-2 {
  font-size: 3.75rem;
  margin: -32px 276px 0 307px;
}

.u-section-1-1 .u-line-2 {
  width: 28px;
  height: 3px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: -114px auto 60px 68px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 844px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 176px;
    margin-left: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 627px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 66px;
    margin-left: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 447px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 103px;
  }

  .u-section-1-1 .u-line-2 {
    margin-top: 20px;
    margin-left: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 247px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-1-2 {
  background-image: url("images/9d62e6b03fa3c0ac9f53897e6e131b89458b951087093baab3dba2adff1f9be2c680ccca72b5192a5eefbc880cd460cdbf9477daa4c1ffdf6c0e0e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-1-3 {
  background-image: url("images/9d62e6b03fa3c0ac9f53897e6e131b89458b951087093baab3dba2adff1f9be2c680ccca72b5192a5eefbc880cd460cdbf9477daa4c1ffdf6c0e0e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 149px;
  }
}.u-block-04b5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-04b5-3 {
  background-image: none;
  width: 43px;
  height: 43px;
  left: calc(((100% - 1140px) / 2)  + 75px);
  top: auto;
  position: absolute;
  right: auto;
  bottom: 86px;
}

.u-block-04b5-4 {
  background-image: none;
  width: 43px;
  height: 43px;
  left: calc(((100% - 1140px) / 2)  + 141px);
  top: auto;
  position: absolute;
  right: auto;
  bottom: 86px;
}

@media (max-width: 1199px) {
  .u-block-04b5-3 {
    left: calc(((100% - 940px) / 2)  + 61px);
  }

  .u-block-04b5-4 {
    left: calc(((100% - 940px) / 2)  + 116px);
  }
}

@media (max-width: 991px) {
  .u-block-04b5-3 {
    left: calc(((100% - 720px) / 2)  + 47px);
  }

  .u-block-04b5-4 {
    left: calc(((100% - 720px) / 2)  + 89px);
  }
}

@media (max-width: 767px) {
  .u-block-04b5-3 {
    left: calc(((100% - 540px) / 2)  + 35px);
  }

  .u-block-04b5-4 {
    left: calc(((100% - 540px) / 2)  + 67px);
  }
}

@media (max-width: 575px) {
  .u-block-04b5-3 {
    left: calc(((100% - 340px) / 2)  + 22px);
  }

  .u-block-04b5-4 {
    left: calc(((100% - 340px) / 2)  + 42px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 535px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 129px 900px 0 192px;
}

.u-section-2 .u-text-2 {
  margin: 0 174px 0 201px;
}

.u-section-2 .u-line-1 {
  width: 75px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 97px auto 0 201px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -18px 687px 60px 305px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 800px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 74px;
    margin-left: 101px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 101px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 587px;
    margin-left: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 672px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 477px;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 492px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 265px;
  }

  .u-section-2 .u-text-3 {
    width: 141px;
    margin-top: -19px;
    margin-left: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 741px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 55px 555px 0 92px;
}

.u-section-3 .u-list-1 {
  width: 832px;
  margin: 51px -21px 0 auto;
}

.u-section-3 .u-repeater-1 {
  min-height: 98px;
  grid-auto-columns: 16.6667%;
  grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-4 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-5 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-text-6 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 4px;
}

.u-section-3 .u-text-7 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-3 .u-slider-1 {
  min-height: 445px;
  height: auto;
  margin-top: -13px;
  margin-bottom: 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 60px 30px 13px;
}

.u-section-3 .u-line-1 {
  width: 79px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 5px auto 0 340px;
}

.u-section-3 .u-image-1 {
  height: 430px;
  width: 261px;
  margin: -62px auto 0 22px;
}

.u-section-3 .u-text-8 {
  background-image: none;
  font-size: 1.875rem;
  margin: -215px 464px 0 353px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 30px 155px 0 353px;
}

.u-section-3 .u-text-10 {
  margin: -261px 634px 0 340px;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 263px 580px 0 353px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: -19px auto 0 427px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 8px 30px 70px;
}

.u-section-3 .u-line-2 {
  width: 62px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 8px 576px 0 auto;
}

.u-section-3 .u-image-2 {
  height: 368px;
  width: 236px;
  margin: -3px auto 0 0;
}

.u-section-3 .u-text-12 {
  background-image: none;
  font-size: 1.875rem;
  margin: -210px 576px 0 295px;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 30px 208px 0 295px;
}

.u-section-3 .u-text-14 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 34px 633px 0 295px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: -19px auto 0 369px;
}

.u-section-3 .u-text-15 {
  margin: -322px 729px 0 283px;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px 50px 30px;
}

.u-section-3 .u-line-3 {
  width: 82px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 380px 0 auto;
}

.u-section-3 .u-text-16 {
  margin: 45px 688px 0 302px;
}

.u-section-3 .u-image-3 {
  height: 368px;
  width: 236px;
  margin: -80px auto 0 1px;
}

.u-section-3 .u-text-17 {
  background-image: none;
  font-size: 1.875rem;
  margin: -222px 529px 0 302px;
}

.u-section-3 .u-text-18 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 30px 179px 0 302px;
}

.u-section-3 .u-text-19 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 34px 604px 0 302px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: -21px auto 0 383px;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px 50px 30px;
}

.u-section-3 .u-line-4 {
  width: 71px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 251px 0 auto;
}

.u-section-3 .u-text-20 {
  margin: 46px 691px 0 299px;
}

.u-section-3 .u-image-4 {
  height: 368px;
  width: 250px;
  margin: -81px auto 0 0;
}

.u-section-3 .u-text-21 {
  background-image: none;
  font-size: 1.875rem;
  margin: -213px 577px 0 299px;
}

.u-section-3 .u-text-22 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 30px 182px 0 299px;
}

.u-section-3 .u-text-23 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 35px 607px 0 299px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  height: 22px;
  width: 22px;
  margin: -19px auto 0 380px;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px 50px 30px 49px;
}

.u-section-3 .u-line-5 {
  width: 81px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 0 104px 0 auto;
}

.u-section-3 .u-text-24 {
  margin: 47px 682px 0 309px;
}

.u-section-3 .u-text-25 {
  background-image: none;
  font-size: 1.875rem;
  margin: 73px 523px 0 309px;
}

.u-section-3 .u-text-26 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 30px 173px 0 309px;
}

.u-section-3 .u-text-27 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 34px 598px 0 309px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-5 {
  height: 368px;
  width: 250px;
  margin: -367px auto 0 0;
}

.u-section-3 .u-icon-5 {
  height: 22px;
  width: 22px;
  margin: -20px auto 0 390px;
}

.u-section-3 .u-container-layout-12 {
  padding: 10px 12px 30px 50px;
}

.u-section-3 .u-line-6 {
  width: 81px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-28 {
  margin: 48px 726px 0 302px;
}

.u-section-3 .u-image-6 {
  height: 368px;
  width: 250px;
  margin: -83px auto 0 0;
}

.u-section-3 .u-text-29 {
  background-image: none;
  font-size: 1.875rem;
  margin: -215px 400px 0 302px;
}

.u-section-3 .u-text-30 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 30px 217px 0 302px;
}

.u-section-3 .u-text-31 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 34px 642px 0 302px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  height: 22px;
  width: 22px;
  margin: -19px auto 0 383px;
}

.u-section-3 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  left: 430px;
  position: absolute;
  background-image: none;
  top: 61px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: none;
  top: 62px;
  left: 496px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 16.666666666666668%;
    grid-template-columns: repeat(6, 16.666666666666668%);
  }

  .u-section-3 .u-slider-1 {
    min-height: 444px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 364px;
    margin-left: 253px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 55px;
    margin-left: 253px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 534px;
    margin-left: 240px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 480px;
    margin-left: 253px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 347px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 476px;
    margin-left: 195px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 108px;
    margin-left: 195px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 533px;
    margin-left: 195px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 300px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 629px;
    margin-left: 183px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 588px;
    margin-left: 202px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 429px;
    margin-left: 202px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 79px;
    margin-left: 202px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 504px;
    margin-left: 202px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 310px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 591px;
    margin-left: 199px;
  }

  .u-section-3 .u-image-4 {
    height: 367px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -212px;
    margin-right: 477px;
    margin-left: 199px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 82px;
    margin-left: 199px;
  }

  .u-section-3 .u-text-23 {
    margin-right: 507px;
    margin-left: 199px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 582px;
    margin-left: 209px;
  }

  .u-section-3 .u-text-25 {
    margin-right: 423px;
    margin-left: 209px;
  }

  .u-section-3 .u-text-26 {
    margin-right: 73px;
    margin-left: 209px;
  }

  .u-section-3 .u-text-27 {
    margin-right: 498px;
    margin-left: 209px;
  }

  .u-section-3 .u-image-5 {
    height: 367px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -19px;
    margin-left: 315px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 626px;
    margin-left: 202px;
  }

  .u-section-3 .u-image-6 {
    height: 367px;
  }

  .u-section-3 .u-text-29 {
    margin-top: -214px;
    margin-right: 300px;
    margin-left: 202px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 117px;
    margin-left: 202px;
  }

  .u-section-3 .u-text-31 {
    margin-right: 542px;
    margin-left: 202px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 227px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 339px;
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 269px;
    margin-left: 158px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 158px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 439px;
    margin-left: 145px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 385px;
    margin-left: 158px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 271px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 386px;
    margin-left: 105px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 18px;
    margin-left: 105px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 443px;
    margin-left: 105px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 237px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 539px;
    margin-left: 93px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 498px;
    margin-left: 112px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 339px;
    margin-left: 112px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 414px;
    margin-left: 112px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 244px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 501px;
    margin-left: 109px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 387px;
    margin-left: 109px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 0;
    margin-left: 109px;
  }

  .u-section-3 .u-text-23 {
    margin-right: 417px;
    margin-left: 109px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 241px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 492px;
    margin-left: 119px;
  }

  .u-section-3 .u-text-25 {
    margin-right: 332px;
    margin-left: 119px;
  }

  .u-section-3 .u-text-26 {
    margin-right: 0;
    margin-left: 119px;
  }

  .u-section-3 .u-text-27 {
    margin-right: 407px;
    margin-left: 119px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 247px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 526px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-29 {
    margin-right: 200px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 17px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-31 {
    margin-right: 442px;
    margin-left: 102px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 47px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 572px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-right: 191px;
    margin-left: 80px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 80px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 361px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 307px;
    margin-left: 80px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 208px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-line-2 {
    margin-right: 460px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    margin-right: 306px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 363px;
    margin-left: 25px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 181px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 459px;
    margin-left: 13px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 428px;
    margin-left: 42px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-17 {
    margin-right: 269px;
    margin-left: 42px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 42px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 344px;
    margin-left: 42px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 192px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 431px;
    margin-left: 39px;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-21 {
    margin-right: 317px;
    margin-left: 39px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-23 {
    margin-right: 347px;
    margin-left: 39px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 190px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 422px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-25 {
    margin-right: 262px;
    margin-left: 49px;
  }

  .u-section-3 .u-text-26 {
    margin-left: 49px;
  }

  .u-section-3 .u-text-27 {
    margin-right: 337px;
    margin-left: 49px;
  }

  .u-section-3 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 10px;
    margin-left: 195px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 447px;
    margin-left: 23px;
  }

  .u-section-3 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-29 {
    margin-right: 121px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 0;
    margin-left: 23px;
  }

  .u-section-3 .u-text-31 {
    margin-right: 363px;
    margin-left: 23px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -21px;
    margin-left: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-line-1 {
    margin-left: 241px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-top: -162px;
    margin-right: 71px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 187px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 128px;
  }

  .u-section-3 .u-line-2 {
    margin-right: 260px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    margin-right: 131px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 112px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 272px;
    margin-left: 0;
  }

  .u-section-3 .u-line-3 {
    margin-right: 238px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 270px;
    margin-left: 0;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.5rem;
    margin-right: 111px;
    margin-left: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 186px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 118px;
  }

  .u-section-3 .u-line-4 {
    margin-right: 249px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 270px;
    margin-left: 0;
  }

  .u-section-3 .u-text-21 {
    font-size: 1.5rem;
    margin-right: 156px;
    margin-left: 0;
  }

  .u-section-3 .u-text-22 {
    margin-left: 0;
  }

  .u-section-3 .u-text-23 {
    margin-right: 186px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 117px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 271px;
    margin-left: 0;
  }

  .u-section-3 .u-text-25 {
    font-size: 1.5rem;
    margin-right: 111px;
    margin-left: 0;
  }

  .u-section-3 .u-text-26 {
    margin-left: 0;
  }

  .u-section-3 .u-text-27 {
    margin-right: 186px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 120px;
  }

  .u-section-3 .u-text-28 {
    margin-right: 270px;
    margin-left: 0;
  }

  .u-section-3 .u-text-29 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-30 {
    margin-left: 0;
  }

  .u-section-3 .u-text-31 {
    margin-right: 186px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 114px;
  }
}.u-section-4 {
  background-image: url("images/bl.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 899px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 141px 692px 0 95px;
}

.u-section-4 .u-image-1 {
  width: 440px;
  height: 380px;
  margin: -76px 62px 0 auto;
}

.u-section-4 .u-line-1 {
  width: 75px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -349px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 404px 62px 0 554px;
}

.u-section-4 .u-list-1 {
  width: 627px;
  margin: 17px -11px 60px auto;
}

.u-section-4 .u-repeater-1 {
  min-height: 209px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 149px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 149px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 149px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 557px;
    margin-left: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 379px;
    margin-left: 565px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 416px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 34px;
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-4 .u-image-2 {
    height: NaNpx;
  }

  .u-section-4 .u-image-3 {
    height: NaNpx;
  }

  .u-section-4 .u-image-4 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    margin-top: 20px;
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 196px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 627px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 187px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 63px;
    margin-right: 109px;
  }

  .u-section-4 .u-image-1 {
    height: 294px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-1 {
    margin-top: -393px;
    margin-right: auto;
    margin-left: 48px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 34168px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 17px;
    margin-bottom: 60px;
  }
}.u-section-5 {
  background-image: url("images/image24.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 296px 65px 0 310px;
}

.u-section-5 .u-image-1 {
  width: 328px;
  height: 328px;
  margin: -250px auto 60px 14px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 175px;
    width: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 254px;
    margin-top: 322px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    width: 204px;
    height: 204px;
    margin-top: -378px;
    margin-left: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 786px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 195px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: normal;
  font-size: 1rem;
  margin: 27px 547px 0 488px;
}

.u-section-6 .u-icon-1 {
  height: 25px;
  width: 25px;
  margin: -25px 511px 0 auto;
}

.u-section-6 .u-image-1 {
  
  width: 256px;
  height: 327px;
  margin: 31px auto 0 103px;
}

.u-section-6 .u-image-2 {
  width: 295px;
  height: 327px;
  margin: -194px auto 0;
}

.u-section-6 .u-image-3 {
  width: 284px;
  height: 338px;
  margin: -466px auto 0 792px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 25px 781px 0 103px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: -16px 81px 0 803px;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  font-size: 1rem;
  width: 256px;
  margin: 106px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 447px;
    margin-left: 388px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 422px;
  }

  .u-section-6 .u-image-2 {
    height: 328px;
    margin-left: 103px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 103px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 681px;
    margin-left: 3px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 684px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 337px;
    margin-left: 278px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 337px;
    margin-left: 278px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 464px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 464px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-right: 247px;
    margin-left: 188px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 327px;
    margin-left: 188px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 284px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 136px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 148px;
    margin-left: 98px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 20px;
    margin-right: 116px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    width: 264px;
    margin-top: 80px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    width: 264px;
    margin-top: 76px;
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    width: 172px;
    margin-top: -806px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    width: 183px;
    margin-top: 803px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: 164px;
    margin-top: -436px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 603px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 96px 809px 0 138px;
}

.u-section-7 .u-line-1 {
  width: 75px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -23px auto 0 500px;
}

.u-section-7 .u-text-2 {
  margin: -14px 43px 0 607px;
}

.u-section-7 .u-list-1 {
  width: 582px;
  margin: 126px -19px 60px auto;
}

.u-section-7 .u-repeater-1 {
  min-height: 194px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 134px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 134px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 134px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 709px;
    margin-left: 38px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 500px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-7 .u-image-1 {
    height: NaNpx;
  }

  .u-section-7 .u-image-2 {
    height: NaNpx;
  }

  .u-section-7 .u-image-3 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 527px;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 582px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 347px;
  }

  .u-section-7 .u-line-1 {
    margin-left: 465px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 465px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 147px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 548px;
}

.u-section-8 .u-blog-1 {
  width: 1162px;
  margin: 87px -293px 0 auto;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 140px;
  margin-top: 79px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 140px;
  margin-top: 79px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 140px;
  margin-top: 79px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  height: 140px;
  margin-top: 79px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 8px;
  width: 40px;
  height: 40px;
  background-image: none;
  top: 320px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: 62px;
  top: 323px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -375px 916px 0 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 48px 869px 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-8 .u-image-1 {
    margin-top: 118px;
    height: NaNpx;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: NaNpx;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: NaNpx;
    margin-left: initial;
  }

  .u-section-8 .u-image-4 {
    height: NaNpx;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-nav-2 {
    right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-right: -293px;
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    margin-right: -293px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-blog-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-8 .u-image-1 {
    margin-top: 79px;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-blog-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-8 .u-blog-1 {
    width: 340px;
    min-height: 459px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-image-1 {
    margin-top: 66px;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-nav-1 {
    left: 104px;
    top: 419px;
  }

  .u-section-8 .u-gallery-nav-2 {
    left: auto;
    top: 419px;
    right: 130px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 132px;
    margin-top: -487px;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    width: 222px;
    margin-top: 13px;
    margin-right: auto;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 552px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 52px 475px 0 499px;
}

.u-section-9 .u-text-2 {
  margin: 11px 358px 0;
}

.u-section-9 .u-form-1 {
  height: 384px;
  margin: 16px 276px 28px 315px;
}

.u-section-9 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-form-group-2 {
  margin-left: 0;
}

.u-section-9 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-form-group-4 {
  margin-left: 0;
}

.u-section-9 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-input-5 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 399px;
    margin-right: 391px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 258px;
    margin-left: 258px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 176px;
    margin-left: 215px;
    width: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: 289px;
    margin-right: 299px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 148px;
    margin-left: 148px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 66px;
    margin-left: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: 199px;
    margin-right: 224px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 58px;
    margin-left: 58px;
  }

  .u-section-9 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-9 .u-text-1 {
    width: 142px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-2 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 0.875rem;
  }
}